@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');

.shining-background {
  background: linear-gradient(135deg, #f0f0f0 0%, #c0c0c0 100%);
  background-size: 400% 400%;
  animation: shine 5s ease infinite;
}

@keyframes shine {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}


/* styles/globals.css */

body {
  /* background-image: url('/icons/background hp1bqckground.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}




/* src/app/globals.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: #fff; */
}

.collection {
  height: 100vh;
  background-color: #1e232e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection .content {
  height: 28rem;
  width: 25rem;
  background-color: #1b1f2a;
  border: .2rem solid rgba(255, 255, 255, .1);
  border-radius: .7rem;
  border-bottom: .4rem solid #0099ff;
  border-top: .4rem solid #0099ff;
  overflow: hidden;
}

.content img {
  width: 100%;
  border-bottom-left-radius: .6rem;
  border-bottom-right-radius: .6rem;
}


html {
  scroll-behavior: smooth;
}







@media (min-width: 300px) and (max-width: 1000px) {


  .portfolio-text {
    font-weight: bold;
  }
}



@media (min-width: 750px) and (max-width: 999.20px) {
  .portfolio-text {
    font-weight: bold;

  }


}
